@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-box {
  font-family: "Raleway", sans-serif;
  background-color: #36558f;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.quote-box {
  max-width: 600px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #48233c;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px rgba(74, 43, 104, 0.281);
  margin: 0 20px;
}

h1,
h2,
p {
  margin-bottom: 20px;
  color: #d1d6d8;
}

h1 {
  font-weight: 500;
}

h2 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  color: #96acb7;
}
p {
  color: #96acb7;
}
button {
  min-height: 30px;
  width: 150px;
  border-radius: 20px;
  border: none;
  background-color: #40376e;
  color: rgba(235, 168, 23, 0.548);
  font-size: 16px;
}

button:hover {
  cursor: pointer;

  background-color: #d4e4bc;
}
